<section id="add">
  <form action="/" method="post">
    <textarea name="content" placeholder="Your deepest emotions go here&hellip;"></textarea>
    <input type="submit" value="Save emotion">
  </form>
</section>
<% @notes.each do |note| %>  
  <article>  
    <p>  
      <%= note.content %>  
      <span><a href="/<%= note.id %>">[edit]</a></span>  
    </p>   
    <p class="meta">Created: <%= note.created_at %></p>  
  </article>
  <br>
<% end %> 
<p class="remove">Remove all this Emotional Crap!<a href='/migrate'><input type="submit" name="Submit"></a></p>