<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf8">  
  <title><%= @title + ' | Recall' %></title>  
  <link href="reset.css" rel="stylesheet">  
  <link href="style.css" rel="stylesheet">  
</head>  
<body>  
  <header>  
    <hgroup>  
      <h1><a href="/">Feeling Friday</a></h1>  
      <h2>'cause we're an emotional bunch</h2>  
    </hgroup>  
  </header>  
  <div id="main">  
    <%= yield %>  
    <br>
    <form classaction="/migrate">Remove all this Emotional Crap!  <input type="submit" name="Submit"></form>
  </div>  
  
  <footer>  
    <p><small>An app for the <a href="http://students.flatironschool.com/">Students of the Flatiron School</a>.</small></p> 
  </footer>  
</body>  
</html>  