<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf8">  
  <title><%= @title + ' | Feeling Friday' %></title>  
  <link href="/reset.css" rel="stylesheet" type="text/css">  
  <link href="/style.css" rel="stylesheet" type="text/css">
  <script src="/main.js"></script>
</head>  
<body>  
  <header>  
    <hgroup>  
      <h1><a href="/">Feeling Friday</a></h1>  
      <h2>'cause we're an emotional bunch</h2>  
    </hgroup>  
  </header>  
  
    <div id="main">
      <a href="https://github.com/awijnen/Feeling_Friday"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>  
      <%= yield %>  
    </div>  
    
  <footer>  
    <p><small>An app for the <a href="http://students.flatironschool.com/">Students of the Flatiron School</a>.</small></p> 
  </footer>  
</body>  
</html>  

