@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/8KhZd3VQBtXTAznvKjw-k73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

body {  
    font-family: 'Raleway';
    font-size: 11pt;
    margin: 35px auto;  
    width: 700px;
    background:url('/images/newyork.jpg') no-repeat fixed;
}  

header {  
    text-align: center;  
    margin: 0 0 20px;  
} 

header a#github{
    position: fixed; top: 0;
    right: 0;
    border: 0;
} 

img {
  max-width: 100%;
}

header h1 {  
    display: inline;  
    font-size: 32px;  
}  
header h1 a:link, header h1 a:visited {  
    color: #444;  
    text-decoration: none;  
}  
header h2 {  
    font-size: 16px;
    font-weight: normal;
    font-style: italic;  
    color: #999;  
}  
#main {  
    margin: 0 0 20px;
    padding: 20px 20px 20px 20px;
    background-color: #ddd;  
}  
#add {  
    margin: 0 0 20px;  
}  
#add textarea {  
    height: 28px; 
    width: 534px;  
    max-width: 534px;  
    padding: 10px;  
    border: 1px solid #ddd;  
    background-color: #fafafa;
}  
#add input {  
    height: 50px;  
    width: 100px;  
    margin: -41px 0 0;  
    border: 1px solid #ddd;  
    background: #fafafa;  
}  
p.remove {
    display: none;
}

p.remove a {
    margin-left: 5px;
}

#edit textarea {  
    height: 30px;  
    width: 450px;  
    padding: 10px;  
    border: 1px solid #ddd;  
}  

#edit input[type=submit] {  
    height: 50px;  
    width: 100px;  
    margin: -45px 0 0;  
    border: 1px solid #ddd;  
    background: white;  
}  
#edit input[type=checkbox] {  
    height: 50px;  
    width: 20px;  
}  
article {  
    border: 1px solid #eee;   
    padding: 12px 12px 12px 12px; 
    margin: 15px 0 15px 0; 
}  
article:first-of-type {  
    border: 1px solid #eee;  
}  
article:nth-child(even) {  
    background: #fafafa;  
}
article:nth-child(odd) {  
    background: #fafafa;  
}
  
article span {  
    font-size: 0.8em;  
}  
article .comments{
    margin-top:11px;
}
p {  
    margin: 0 0 5px;  
} 

p.note-content{
    font-size: 1.1em;
} 

p.comment-content{
    font-size : 1em;
}
.meta {  
    font-size: 0.8em;  
    font-style: italic;  
    color: #888;  
}  
.links {  
    font-size: 1.8em;  
    line-height: 0.8em;  
    float: rightright;  
    margin: -10px 0 0;  
}  
.links a {  
    display: block;  
    text-decoration: none;  
}
form textarea, form input{
    font-family: 'Raleway';
}
form input[type="submit"]{
    font-size:0.9em;
}
.form-toggle {
    cursor: pointer;
    font-size: 1em;
}

.comments {
    background: #eee;
    padding: 15px;
}

.comments .comment{
    border-bottom: 1px dotted #ddd ;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
}

.comments form {
    padding: 10px 0;
}

.comments form input {
    border: none;
}

.comments form button {
    padding: 2px;
}

footer {
    background-color: #ddd;
    padding: 10px 10px;
}
